.vs/KHU-ComPhy-Team3/FileContentIndex/6b084b47-f6d3-474e-a920-7588dfa34d30.vsidx
.vs/KHU-ComPhy-Team3/FileContentIndex/d2d9d812-cd7d-4713-a86e-4e567ed682e3.vsidx
.vs/KHU-ComPhy-Team3/v17/.wsuo
.vs/KHU-ComPhy-Team3/v17/DocumentLayout.backup.json
.vs/KHU-ComPhy-Team3/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
asteroid_prediction.sublime-workspace
.vscode/launch.json
/__pycache__
